@import url('https://fonts.googleapis.com/css?family=Lato:300|Nunito:600');

$color-brand-blue: #1229b4;
$color-mid-blue: #306bac;
$color-light-blue: #6f9ceb;

$color-highlight-1: #dbfe87;
$color-highlight-2: #ffe381;
$color-highlight-3: $color-light-blue;

$headings-font-family: 'Nunito', sans-serif;
$font-family-base: 'Lato', sans-serif;

$theme-colors: ('primary': $color-brand-blue);
